extends layout

block content
    table.table.table-striped
        thead
            tr
            th(scope='col') Base
            th(scope='col') X
            th(scope='col') Resultado
        tbody
            tr
                td=base
                td="1"
                td=resultado[0]
            tr
                td=base
                td="2"
                td=resultado[1]
            tr
                td=base
                td="3"
                td=resultado[2]
            tr
                td=base
                td="4"
                td=resultado[3]
            tr
                td=base
                td="5"
                td=resultado[4]
            tr
                td=base
                td="6"
                td=resultado[5]
            tr
                td=base
                td="7"
                td=resultado[6]
            tr
                td=base
                td="8"
                td=resultado[7]
            tr
                td=base
                td="9"
                td=resultado[8]
            tr
                td=base
                td="10"
                td=resultado[9]
            tr
